<template>
    <footer>
        <p>{{ copyright + title  }}</p>
    </footer>
</template>

<script>

import {bus} from '../main';

export default {
    props: {
        title:{
            type: String,
            required: true
        }
    },
    data(){
        return{
            copyright:'Copyright dizzy1021 '
        }
    },
    created(){
        bus.$on('titleChanged',(data) => {
            this.title = data;
        });
    }
}
</script>

<style scoped>

    footer{
        background: lightgreen;
        padding: 6px
    }
    p{
        color: #111;
        text-align: center;
    }

</style>