<template>
    <header>
        <h1 v-on:click="changeTitle">{{ title  }}</h1>
    </header>
</template>

<script>

import {bus} from '../main';

export default {
    props: {
        title:{
            type: String,
        }
    },
    data(){
        return{
            title:'Vue Net'
        }
    },
    methods:{
        changeTitle: function(){
            //this.$emit("changeTitle","Vuew Wiz");
            this.title = 'Vuew Wiz'
            bus.$emit('titleChanged','Vue Wiz');
        }
    }
}
</script>

<style scoped>

    header{
        background: #efef98;
        padding: 10px
    }
    h1{
        color: #222;
        text-align: center;
    }

</style>