<template>
  <div id="moodos">
    <ul>
      <li v-for="moodo in moodos" v-bind:key="moodo.name" v-on:click="moodo.show = !moodo.show" >
        <h2>{{ moodo.name }}</h2>
        <h3 v-show="moodo.show"> {{ moodo.skill }} </h3>
      </li>
    </ul>
    <button v-on:click="deleteMoodo">Delete</button>
  </div>
</template>

<script>

export default {
  props: {
    moodos:{
      type: Array,
      required: true
    }
  },
  data(){
      return{
        
      }
  },
  methods:{
    deleteMoodo: function() {
       this.moodos.pop();
    }

  }

}
</script>

<style scoped>

  #moodos{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    pading: 0 20px;
    box-sizing: border-box;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  li{
    flex-grow: 1;
    flex-basis: 300px;
    text-align: center;
    padding: 30px;
    border: 1px solid #222;
    margin: 10px;
  }

</style>