<template>
  <div>
    <div style="display:none">
      <app-header v-bind:title="title" v-on:changeTitle="updateTitle($event)"></app-header>
      <app-moodo v-bind:moodos="moodos"></app-moodo>
      <app-footer v-bind:title="title"></app-footer>
    </div>
    <div style="display:none">
      <form-helper>
        <div slot="form-header">
            <h3>Form 1 - Log In</h3>
            <p>Enter your details to log-in</p>
        </div>
        <div slot="form-fields">
            <input type="text" placeholder="username" required />
            <input type="password" placeholder="password" required />
        </div>
        <div slot="form-controls">
            <button v-on:click="handleSubmit">Login</button>
        </div>
        </form-helper>    
    </div>
    <div>
      <keep-alive>
        <component v-bind:is="component"></component>
      </keep-alive>      
      <button v-on:click="component = 'form-one'">Show Form One</button>
      <button v-on:click="component = 'form-two'">Show Form Two</button>      
    </div>
  </div>
</template>

<script>

import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Moodo from './components/Moodo.vue'
import FormHelper from './components/FormHelper'
import FormOne from './components/FormOne'
import FormTwo from './components/FormTwo'

export default {

  components:{
    'app-header': Header,
    'app-footer': Footer,
    'app-moodo': Moodo,
    'form-helper': FormHelper,
    'form-one': FormOne,
    'form-two': FormTwo
  },
  data(){
    return{
      moodos:[
          {name:'Marf',skill:'Throw Knife',show:false},
          {name:'Manny',skill:'Escape',show:false},
          {name:'Bell',skill:'Run',show:false},
          {name:'Selly',skill:'Swim',show:false},
          {name:'Dessy',skill:'Intellegent',show:false},
          {name:'Vely',skill:'Nimble',show:false},
        ],
        title: "Vue Net",
        component:'form-one'
    }
  },
  methods:{
    updateTitle: function(updateTitle){
      this.title = updateTitle;
    } 
  }

  }
</script>

<style scoped>

</style>

// Primitive types = if data instance in another component data not change if trigger with event 
// Reference types = if data instance in another component data will change if trigger with event
// Event from children to parent use $emit,$even t for param
// Bus Event is a communicate between component siblings or unrelated